node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
/.idea/.gitignore
/.idea/discord.xml
/.idea/jpa-buddy.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/NativeList.iml
/.idea/vcs.xml
